.pagination {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 14px;

  .button-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-weight: 600;
    color: #2a2a2a;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 38px;
    height: 38px;

    &:hover:not(.active) {
      background-color: #f5e9d4;
    }

    &.active {
      background-color: #1e33df;
      color: white;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-weight: 600;
    color: #a3a3a3;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 38px;
    height: 38px;

    &:hover:not(.active) {
      background-color: #e6e6e6;
    }

    &.active {
      background-color: #1e33df;
      color: white;
    }

    &:disabled {
      background-color: #c2c2c2 !important;
      cursor: not-allowed;
    }
  }
}

@media (max-width: 992px) {
  .pagination {
    gap: 6px;

    .button-arrow,
    button {
      font-size: 14px;
    }
  }
}

@media (max-width: 576px) {
  .pagination {
    gap: 6px;

    .button-arrow,
    button {
      font-size: 14px;
    }
  }
}
