.about-section {
  background-image: url("@/assets/landing-page/about/background-header-about.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #ffff;
  padding: 120px 64px 120px 64px;

  .image-container img {
    width: 100%;
    max-width: 484px;
    margin-right: 20px;
  }

  .text-container {
    width: 100%;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;

    .text-title {
      font-size: 24px;
      font-weight: bold;
      background: linear-gradient(to right, #3e6afd, #eaf0ff);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 20px;
    }

    .description {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .bio {
      font-size: 24px;
    }
  }
}

.experience-section {
  background-image: url("@/assets/landing-page/experience/background-experiences-section.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #2a2a2a;
  padding: 96px 64px;

  .title-text {
    font-size: 56px;
    font-weight: bold;
    background: linear-gradient(to right, #1f0ad8, #1a87ed);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;
  }

  .experience-card-container {
    display: flex;
    flex-direction: row;
    max-width: 1312px;
    gap: 40px;
    overflow: hidden !important;
  }
}

.projects-section {
  background:
    radial-gradient(
      circle at 0% 30%,
      rgba(37, 99, 235, 0.35) 0%,
      rgba(37, 99, 235, 0.2) 10%,
      rgba(0, 0, 0, 0) 45%
    ),
    radial-gradient(
      circle at 100% 100%,
      rgba(37, 99, 235, 0.35) 0%,
      rgba(37, 99, 235, 0.2) 10%,
      rgba(0, 0, 0, 0) 45%
    ),
    #000;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 96px 64px;
  color: #ffff;

  .title-text {
    font-size: 56px;
    font-weight: bold;
    background: linear-gradient(to right, #3e6afd, #eaf0ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;
    text-align: center;
  }

  .projects-card-container {
    display: block;
    width: 100%;
  }
}

.contact-section {
  background-image: url("@/assets/landing-page/contact/background-contact-section.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #2e062b;
  padding: 120px 64px;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;

    .title-text {
      font-size: 80px;
      font-weight: bold;
      background: linear-gradient(to right, #1f0ad8, #1a87ed);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 40px;
    }

    .description {
      display: flex;
      text-align: center;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 40px;
    }

    .contact-card-container {
      display: flex;
      flex-direction: row;
    }
  }
}

@media (max-width: 992px) {
  .about-section {
    padding: 160px 40px 120px 40px;

    .text-container {
      width: 100%;
      display: flex;
      flex-direction: column;

      .text-title {
        font-size: 16px;
        font-weight: bold;
      }

      .description {
        font-size: 32px;
        font-weight: bold;
      }

      .bio {
        font-size: 16px;
      }
    }
  }

  .experience-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title-text {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 40px;
    }

    .experience-card-container {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  }

  .projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title-text {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 40px;
    }

    .projects-card-container {
      display: flex;
      flex-direction: column;

      .grid-container {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
    }
  }

  .contact-section {
    .content {
      .title-text {
        font-size: 40px;
      }

      .description {
        font-size: 18px;
      }

      .contact-card-container {
        display: flex;
        flex-direction: row;
      }
    }
  }
}

@media (max-width: 576px) {
  .about-section {
    background-image: url("@/assets/landing-page/about/background-header-about-mobile.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px 40px 40px 40px;
    text-align: center;
    gap: 20px;

    .text-container {
      width: 300px;
      display: flex;
      flex-direction: column;
      padding-left: 0;

      .text-title {
        font-size: 18px;
        font-weight: bold;
      }

      .description {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 16px;
      }

      .bio {
        font-size: 16px;
      }
    }
  }

  .experience-section {
    background-image: url("@/assets/landing-page/experience/background-experiences-section-mobile.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 24px;

    .title-text {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 40px;
    }

    .experience-card-container {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  }

  .projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 24px;

    .title-text {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 40px;
    }

    .projects-card-container {
      display: flex;
      flex-direction: column;
    }
  }

  .contact-section {
    background-image: url("@/assets/landing-page/contact/background-contact-section-mobile.png");
    padding: 80px 24px;

    .content {
      .title-text {
        font-size: 24px;
        margin-bottom: 20px;
      }

      .description {
        font-size: 16px;
      }

      .contact-card-container {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
