@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", serif;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex: 1;
}

.navbar-container {
  display: flex;
  justify-content: center;
  position: fixed; /* Makes the navbar overlay on top */
  top: 0;
  width: 100%;
  z-index: 1;
  margin-top: 20px;
}

.navbar-expand-lg .navbar-collapse {
  gap: 40px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  width: 90%;
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  border-radius: 30px;
  background: linear-gradient(to right, #cdb9e0, #caacea);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  background: linear-gradient(to right, #45005e, #c30065);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-brand:hover {
  background: linear-gradient(to right, #600b7c, #e726a0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-light .navbar-nav .nav-link {
  margin: 0 15px;
  text-decoration: none;
  color: #250032 !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #600b7c !important;
}

.linkedin-btn {
  width: 146px;
  height: 40px;
  background: linear-gradient(to right, #65558f, #bf23c7);
  padding: 8px 16px;
  border-radius: 100px;
  color: #ffff;
  border: 0;

  .linkedin-btn-text {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
  }
}

.linkedin-btn:hover {
  background: linear-gradient(to right, #483a69, #6f1674);
}

/* Header Section */
.header-section {
  background-image: url("../assets/project-two/background-header-project-two.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 600px;
  padding: 120px 64px 40px 64px;

  .card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 30px;
    color: #45005e;
    background-color: #d9d6d4;
    border: 0;
    border-radius: 30px;

    .card-title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .button-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;
      width: 100%;

      .button-demo {
        width: 140px;
        height: 40px;
        background-color: #7d3adc;
        border-radius: 100px;
        border: 0;

        .button-demo-text {
          color: #fff;
          text-decoration: none;
          font-size: 16px;
        }
      }

      .button-demo:hover {
        background-color: #641a80;
      }

      .button-link {
        width: 140px;
        height: 40px;
        color: #fff;
        background-color: #cb5050;
        border-radius: 100px;
        border: 0;

        .button-link-text {
          color: #fff;
          text-decoration: none;
          font-size: 16px;
        }
      }

      .button-link:hover {
        background-color: #963535;
      }
    }
  }
}

/* Project Details Section */
.project-details-section {
  background-image: url("../assets/project-two/background-project-details-section.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 96px 64px;

  .header-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;

    .button-back {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 106px;
      border-radius: 100px;
      padding: 10px;
      border: 0;
      background: linear-gradient(to right, #65558f, #bf23c7);

      .material-icons {
        color: #fff;
        margin-right: 8px;
      }

      .button-back-text {
        color: #fff;
        font-size: 16px;
      }
    }

    .button-back:hover {
      background: linear-gradient(to right, #483a69, #6f1674);
    }

    .title-text {
      text-align: center;
      font-weight: bold;
      font-size: 56px;
      background: linear-gradient(to right, #45005e, #c30065);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .content-container {
    display: flex;
    flex-direction: row;
    gap: 60px;

    .text-content-container {
      display: flex;
      flex-direction: column;
      width: 100%;

      .text-content-title {
        font-size: 24px;
        font-weight: bold;
        color: #2e062b;
        margin-bottom: 32px;
      }

      .text-content-subtitle {
        font-size: 16px;
        color: #2e062b;
        margin-bottom: 32px;
      }

      .badge-container {
        display: flex;
        gap: 20px;
        width: 100%;

        .badge-one,
        .badge-two,
        .badge-three {
          background: linear-gradient(to right, #f3ba00, #2c418d);
          border: 0;
          border-radius: 100px;
          padding: 8px;
          width: 100px;

          .badge-text {
            font-size: 16px;
            color: #fff;
          }
        }
      }
    }

    .project-img {
      width: 100%;
      max-width: 700px;
    }
  }
}

.footer-section {
  display: flex;
  justify-content: center;
  padding: 20px 64px;
  background-color: #d4b7f3;

  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1240px;

    .footer-brand {
      margin-right: auto;
      margin: 0;
      text-decoration: none;
      font-weight: bold;
      font-size: 20px;
      background: linear-gradient(to right, #45005e, #c30065);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .footer-copyright {
      margin-left: auto;
      margin: 0;
      font-size: 18px;
      font-weight: bold;
      color: #270035;
    }
  }
}

/* Responsive styling for tablet devices (max-width: 992px) */
@media (max-width: 992px) {
  /* Navbar */
  .navbar-light .navbar-nav .nav-link .active {
    color: #9f0767 !important;
  }

  .navbar-container {
    padding: 10px;
  }

  .navbar-portfolio {
    width: 95%;
    padding: 8px 20px;
  }

  .navbar-brand {
    font-size: 18px !important;
  }

  li.nav-item {
    font-size: 16px;
  }

  .linkedin-btn {
    .linkedin-btn-text {
      font-size: 16px;
    }
  }

  /* Header Section */
  .header-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .card {
      width: 100%;
      border: 0;
      border-radius: 30px;
      text-align: center;

      .card-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
      }

      .button-container {
        gap: 20px;
        width: 100%;

        .button-demo {
          .button-demo-text {
            font-size: 16px;
          }
        }

        .button-link {
          .button-link-text {
            font-size: 16px;
          }
        }
      }
    }
  }

  /* Project Details Section */
  .project-details-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .header-container {
      display: flex;
      flex-direction: column;

      .button-back {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        .material-icons {
          margin-right: 8px;
        }

        .button-back-text {
          font-size: 16px;
        }
      }

      .title-text {
        text-align: center;
        font-weight: bold;
        font-size: 40px;
      }
    }

    .content-container {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .text-content-container {
        display: flex;
        flex-direction: column;

        .text-content-title {
          font-size: 24px !important;
          margin-bottom: 20px;
        }

        .text-content-subtitle {
          font-size: 20px !important;
          margin-bottom: 20px;
        }
      }
    }
  }

  .footer-section {
    .footer-container {
      .footer-brand {
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
      }
      .footer-copyright {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 1280px) {
  .project-details-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .header-container {
      display: flex;
      flex-direction: column;

      .button-back {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
      }

      .title-text {
        text-align: center;
        font-weight: bold;
      }
    }

    .content-container {
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: center;

      .text-content-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .text-content-title {
          margin-bottom: 20px;
        }

        .text-content-subtitle {
          margin-bottom: 20px;
          font-size: 20px;
        }
      }

      .project-img {
        max-width: 3000px;
      }
    }
  }
}

@media (max-width: 576px) {
  /* Navbar */
  .navbar-container {
    padding: 10px;
  }

  .navbar-portfolio {
    width: 95%;
    padding: 8px 20px;
  }

  .navbar-brand {
    font-size: 16px !important;
  }

  li.nav-item {
    font-size: 14px;
  }

  .linkedin-btn {
    .linkedin-btn-text {
      font-size: 14px;
    }
  }

  /* Header Section */
  .header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px 40px 40px 40px;
    gap: 20px;
    height: 400px;

    .card {
      width: 100%;
      padding: 20px 30px;
      border: 0;
      border-radius: 30px;
      text-align: center;

      .card-title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 20px;
      }

      .button-container {
        gap: 20px;
        width: 100%;

        .button-demo {
          .button-demo-text {
            font-size: 14px;
          }
        }

        .button-link {
          .button-link-text {
            font-size: 14px;
          }
        }
      }
    }
  }

  /* Project Details Section */
  .project-details-section {
    background-image: url("../assets/project-two/background-project-details-section-mobile.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 40px;

    .header-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 20px;

      .button-back {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 4px;
        width: 80px;

        .material-icons {
          margin-right: 8px;
          font-size: 14px;
        }

        .button-back-text {
          font-size: 14px;
        }
      }

      .title-text {
        text-align: center;
        font-weight: bold;
        font-size: 24px;
      }
    }

    .content-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;

      .text-content-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 300px;

        .text-content-title {
          font-size: 16px !important;
          margin-bottom: 16px;
          text-align: justify;
        }

        .text-content-subtitle {
          font-size: 14px !important;
          text-align: justify;
          margin-bottom: 16px;
        }

        .badge-container {
          display: flex;
          gap: 20px;
          width: 100%;

          .badge-one,
          .badge-two,
          .badge-three {
            border: 0;
            border-radius: 100px;
            padding: 6px;
            width: 100px;

            .badge-text {
              font-size: 14px;
            }
          }
        }
      }

      .project-img {
        width: 100%;
        max-width: 300px;
      }
    }
  }

  .footer-section {
    display: flex;
    justify-content: center;
    padding: 20px 40px;

    .footer-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 10px;

      .footer-brand {
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
      }

      .footer-copyright {
        text-align: center;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}
